<script>
        layui.use('element', function(){
          var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
          
          //监听导航点击
          element.on('nav(demo)', function(elem){
           
          });
        });

        //当屏幕小于750时触发函数
		var screenWidth = document.body.clientWidth;
		if(screenWidth<=750){
		 $('.removeDom').remove();

		}
		$('.navleftBtn').click(function(){
            $('.layui-side').css({'display':'block'});
            $('.navleftBtn').css({'display':'none'})
        })

		$('.leftNavCloseBtn').click(function(event) {
			$('.layui-side').css({"display":"none"});
			$('.navleftBtn').css({'display':'block'})
		});

        
       
</script>