<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>三叶草后台管理系统</title>
	<link rel="stylesheet" type="text/css" href="__CSS__reset.css">
	<link rel="stylesheet" type="text/css" href="__CSS__style.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_636967_o1hs0fukd7mygb9.css">
	<link rel="stylesheet" href="__LIBS__/bootstrap/css/bootstrap.min.css">
</head>
<body style="background:#f4f5f6;">
	<div style="position: relative;">
		<div class="garr-header">
			<div class="shead_wrap clearfix">
				<a href="#" class="shead_logo fl"></a>
				<div class="inner_title">三叶草后台管理系统</div>
				<div class="shead_right fr">
					<div class="user-panel">
						<div class="information">
							<div class="new_user_info">
								<div class="new_user_type">欢迎您！</div>
								<div class="new_user_name">{:session('userinfo.username')}</div>
							</div>
						</div>
					</div>
					<div class="shead-post-wrap">
						<div class="pgc-hover-popup">
							<!-- <div class="shead-post">退出</div> -->
							<a href="{:url('index/logout')}" class="shead-post">退出</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>