<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<title>三叶草后台管理系统</title>
	<link rel="stylesheet" href="__LIBS__bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="__LIBS__layui/css/layui.css">

	<link rel="stylesheet" type="text/css" href="__CSS__login.css">
	<link rel="stylesheet" type="text/css" href="__CSS__global.css">
	<!-- <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_636967_o1hs0fukd7mygb9.css"> -->
	<link rel="stylesheet" href="__LIBS__font-awesome/css/font-awesome.min.css">
	
	<script src="__JS__jquery-1.11.2.min.js"></script>
	<script src="__LIBS__layui/layui.js"></script>
	<script src="__LIBS__num/jquery.waypoints.min.js"></script>
	<script src="__LIBS__num/jquery.countup.min.js"></script>
	

</head>
<body>
		<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
			<div class="layui-header header header-demo">
				<div class="layui-main">
					<div class="admin-login-box">
						<a class="logo" style="left: 0;" href="sysindex.html">
							<img src="__IMG__logo.png" />
							<span style="font-size: 22px;">三叶草后台管理系统</span>
						</a>
					</div>
					<ul class="layui-nav admin-header-item">
						
						<li class="layui-nav-item" >
							<a href="{:url('syc/sysindex')}">返回首页</a>
						</li>
						<li class="layui-nav-item" lay-unselect="">
							<a href="javascript:;" class="admin-header-user">
								<img src="__IMG__0.jpg" class="layui-nav-img" />
								<span>{:session('userinfo.username')}</span>
								
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="{:url('index/logout')}"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</dd>
								<dd>
									<a id="updatepwd1" data-id="{:session('userinfo.uid')}"><i class="fa fa-sign-out" id="updatepwd1"  aria-hidden="true"></i> 修改密码</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="updatepwd" style="display: none;">
			<div style="padding:20px 25px 10px 5px;">
				<div class="layui-form-item">
					<label class="layui-form-label">密码：</label>
					<div class="layui-input-block">
						<input id="password" type="password" name="title" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">确认密码：</label>
					<div class="layui-input-block">
						<input id="repassword" type="password" name="title" lay-verify="title" autocomplete="off" placeholder="请确认密码" class="layui-input">
					</div>
				</div>
			</div>
		</div>

		<script>
			layui.use('layer', function() {
				$("#updatepwd1").click(function(){
					var userid=$(this).attr('data-id');
					layer.open({
                    type: 1,
                    title: false //不显示标题栏
                        ,
                    closeBtn: false,
                    area: '300px;',
                    shade: 0.8,
                    id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,
                    btn: ['确定', '取消'],
                    btnAlign: 'c',
                    moveType: 1 //拖拽模式，0或者1
                        ,
                    content: $('#updatepwd'),
                    success: function(layero) {
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').click(function() {
							var password=$("#password").val();

							var url="{:url('data/resetPassword')}";
							$.ajax({
								type: "post",
								url: url,
								data: {uid:userid,password:password},
								dataType: "json",
								success: function (data) {
									if (data && data.code == 200) {
                                        
                                            layer.msg(data.msg);
                                        
                                        setTimeout(function() {
                                            window.location.href="{:url('index/logout)}";
                                        }, 1000);

                                    } else {
                                        
                                            layer.msg(data.msg);
                                    }
								}
							});
						});
					}
				});
				});
			});
		</script>