{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>三叶草科技有限公司</title>

<link href="__LIBS__fullpage/css/animate.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__LIBS__fullpage/css/jquery.fullPage.css">
<link rel="stylesheet" href="__LIBS__fullpage/css/style.css">
<style type="text/css">
    html,body{ 
    width:100%;
    height:80%;
    background:#000;
}
</style>
</head>
<body>
    <div id="fullpage">
        <div class="section">
           
            <div class="sq_menu_container">
                <div class="sq_menu">
                    <div class="sq_m_span">
                       <img src="__LIBS__fullpage/images/index/sylogo.png" width="60"> 
                    </div>
                    <div class="sq_m_meun">
                        三叶草网络科技有限公司
                    </div>
                </div> 

            </div>
            {if condition="$uid neq ''"}
                <div class="loginBtn"><a href="{:url('syc/sysindex')}">进入后台</a></div>
            {else/}
                <div class="loginBtn"><a href="{:url('index/login')}">登录 / 注册</a></div>
            {/if}
            <div class="loginBtn"><a href="{:url('index/logout')}">退出</a></div>
            <div class="sq_center sq_position"><img src="__LIBS__fullpage/images/index/er.png"></div>
            <div class="sq_center_1 sq_position"><img src="__LIBS__fullpage/images/index/zuiwai.png"></div>
            <div class="sq_center_2">
                <h4 class="tit">三叶草辅材</h4>
                <div class="cont">国内最大·最全·最专业的装修服务平台</div>
                <div class="cont">为客户创造价值，是我们永远的使命！</div>
            </div>

            <!--从这里开始-->
            <div class="sq_start">从这里开始</div>
            <div class="sq_mouse">
                <img src="__LIBS__fullpage/images/index/shubiao.png">
                <div class="sq_m_small"></div>
            </div>
           <div class="bg">
              <div id="particles-js"></div>
           </div>
        </div>

        <div class="section">
           <!--<div class="bg" style="z-index:3"><img src="images/index/2zhezhao.png"></div>-->
           <!-- <div class="loginBtn"><a href="#">登录 / 注册</a></div> -->
           <div class="sq_tow_screen">
               <p>苏州三叶草网络科技有限公司是一家专业做家装工装产品一站式服务配送的企业，公司坐落在美丽的古城苏州。公司成立于2017年2月，是一家为终端客户提供一站式采购建材服务的互联网公司。</p>
           </div>
            <div class="sq_tow_msg" style="z-index: 6">
                <ul>
                    <li class="sq_li1">
                        <div class="sq_img">
                            <img src="__LIBS__fullpage/images/index/book.png" alt="客服第一">
                            <p class="sq_img_s1">客户第一，使命必达！</p>
                            <p>Customer first, mission must reach</p>
                        </div>
                    </li>
                    <li class="sq_li2">
                        <div class="sq_img">
                            <img src="__LIBS__fullpage/images/index/pc.png" alt="超越自我">
                            <p class="sq_img_s1">极速成长，超越自我！</p>
                            <p>Grow faster than yourself</p>
                        </div>
                    </li>
                    <li class="sq_li3">
                        <div class="sq_img">
                            <img src="__LIBS__fullpage/images/index/ipod.png" alt="责任">
                            <p class="sq_img_s1">不推卸责任，不纠结流程</p>
                            <p>Do not pass the buck</p>
                        </div>
                    </li>
                    <li class="sq_li4">
                        <div class="sq_img">
                            <img src="__LIBS__fullpage/images/index/Aphone.png" alt="移动应用设计">
                            <p class="sq_img_s1">不惧挑战，全力以赴</p>
                            <p>challenges and best.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sq_zw"><img src="__LIBS__fullpage/images/index/zhewen.png"></div>
            <div class="bg">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="section">
            <!-- <div class="loginBtn"><a href="#">登录 / 注册</a></div> -->
            <!--<div class="bg" style="z-index:3"><img src="images/index/2zhehzoa.jpg.png"></div>-->
            <div class="sq_three">
                让每一个客户成为我们的终身客户！
               <span style="font-size: 40px;margin-top: 20px; text-align: center; display: block;">装修辅材</span>
            </div>

            <div class="sq_three_s2" style="z-index: 6">
                <ul>
                    <li>
                        <div class="sq_three_img">
                            <div class="sq_three_re" style="position: relative;">
                                <img src="__LIBS__fullpage/images/index/an1.jpg" alt="黄沙">
                                <div class="sq_z_back"></div>
                                <span class="sq_z_left"><img src="__LIBS__fullpage/images/index/zoom_1.png"></span>
                                <span class="sq_z_right"><img src="__LIBS__fullpage/images/index/zoom_2.png"></span>
                            </div>
                            <div class="sq_three_top">
                                
                                <span style="font-size: 18px;">黄沙，水泥</span>
                            </div>
                            
                            <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="sq_three_img">
                            <div class="sq_three_re" style="position: relative;">
                                <img src="__LIBS__fullpage/images/index/an2.jpg" alt="红砖">
                                <div class="sq_z_back"></div>
                                <span class="sq_z_left"><img src="__LIBS__fullpage/images/index/zoom_1.png"></span>
                                <span class="sq_z_right"><img src="__LIBS__fullpage/images/index/zoom_2.png"></span>
                            </div>

                            <div class="sq_three_top">
                                
                                <span style="font-size: 18px;">红砖，水管</span>
                            </div>
                            
                            <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                        </div>
                    </li>

                    <li>
                        <div class="sq_three_img">
                            <div class="sq_three_re" style="position: relative;">
                                <img src="__LIBS__fullpage/images/index/an3.jpg" alt="电线">
                                <div class="sq_z_back"></div>
                                <span class="sq_z_left"><img src="__LIBS__fullpage/images/index/zoom_1.png"></span>
                                <span class="sq_z_right"><img src="__LIBS__fullpage/images/index/zoom_2.png"></span>
                            </div>

                            <div class="sq_three_top">
                               
                                <span style="font-size: 18px;">电线，网线</span>
                            </div>
                           
                            <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                        </div>
                    </li>

                    <li>
                        <div class="sq_three_img">
                            <div class="sq_three_re" style="position: relative;">
                                <img src="__LIBS__fullpage/images/index/an4.jpg" alt="开关面板">
                                <div class="sq_z_back"></div>
                                <span class="sq_z_left"><img src="__LIBS__fullpage/images/index/zoom_1.png"></span>
                                <span class="sq_z_right"><img src="__LIBS__fullpage/images/index/zoom_2.png"></span>
                            </div>

                            <div class="sq_three_top">
                          
                                <span style="font-size: 18px;">开关面板，石膏板</span>
                            </div>
                         
                            <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- <div class="sq_three_s3">
                <div class="sq_three_all">等等</div>
            </div> -->
            <div class="bg">
                <img src="__LIBS__fullpage/images/index/FirstScreen3.jpg" alt="第三屏">
            </div>
        </div>
        
    </div>

    <script type="text/javascript" src="__LIBS__fullpage/js/jquery.js"></script>
    <script type="text/javascript" src="__LIBS__fullpage/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__LIBS__fullpage/js/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="__LIBS__fullpage/js/style.js"></script>
    <script type="text/javascript" src="__LIBS__fullpage/js/particles.js"></script>
    <script type="text/javascript" src="__LIBS__fullpage/js/app.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#fullpage').fullpage({
                'verticalCentered': false,
                anchors: ['page1', 'page2', 'page3', 'page4'],
                'navigation': true,                //是否显示导航栏
                'navigationPosition': 'left'  //导航栏的位置
            });


            var back=$(".sq_concat_back").find("div");
            var img=["__LIBS__fullpage/images/index/phone_1.png","__LIBS__fullpage/images/index/qq_1.png","__LIBS__fullpage/images/index/weixin_1.png"];
            var imgs=["__LIBS__fullpage/images/index/phone.png","__LIBS__fullpage/images/index/qq.png","__LIBS__fullpage/images/index/weixin.png"];
            back.hover(function(){
                $(this).children("img").attr("src",img[back.index(this)]);
            },function(){
                $(this).children("img").attr("src",imgs[back.index(this)]);
            });

            var sq_img=$(".sq_three_s2 ul").find("li");
            sq_img.hover(function(){
                $(this).children("div").children(".sq_three_re").children(".sq_z_back").css({ "opacity":"0.7"});
                $(this).children("div").children(".sq_solid").css("background","#3CAF5A");
                $(this).children("div").children(".sq_three_re").children(".sq_z_left").animate({
                    "opacity":"1",
                    "left":"38%"
                },500);
                $(this).children("div").children(".sq_three_re").children(".sq_z_right").animate({
                    "opacity":"1",
                    "right":"45%"
                },500);
            },function(){
                $(this).children("div").children(".sq_three_re").children(".sq_z_back").css("opacity","0");
                $(this).children("div").children(".sq_solid").css("background","#959595");
                $(this).children("div").children(".sq_three_re").children(".sq_z_left").animate({
                    "opacity":"0",
                    "left":"0"
                },500);
                $(this).children("div").children(".sq_three_re").children(".sq_z_right").animate({
                    "opacity":"0",
                    "right":"0"
                },500);
            });
        });
    </script>

    <script type="text/javascript">
        "use strict";
        var canvas = document.getElementById('canvas'),
          ctx = canvas.getContext('2d'),
          w = canvas.width = window.innerWidth,
          h = canvas.height = window.innerHeight,
            
          hue = 217,
          stars = [],
          count = 0,
          maxStars = 1400;

        // Thanks @jackrugile for the performance tip! http://codepen.io/jackrugile/pen/BjBGoM
        // Cache gradient
        var canvas2 = document.createElement('canvas'),
            ctx2 = canvas2.getContext('2d');
            canvas2.width = 100;
            canvas2.height = 100;
        var half = canvas2.width/2,
            gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
            gradient2.addColorStop(0.025, '#fff');
            gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
            gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
            gradient2.addColorStop(1, 'transparent');

            ctx2.fillStyle = gradient2;
            ctx2.beginPath();
            ctx2.arc(half, half, half, 0, Math.PI * 2);
            ctx2.fill();

        // End cache

        function random(min, max) {
          if (arguments.length < 2) {
            max = min;
            min = 0;
          }
          
          if (min > max) {
            var hold = max;
            max = min;
            min = hold;
          }

          return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        var Star = function() {

          this.orbitRadius = random(w / 2 - 50);
          this.radius = random(100, this.orbitRadius) / 10;
          this.orbitX = w / 2;
          this.orbitY = h / 2;
          this.timePassed = random(0, maxStars);
          this.speed = random(this.orbitRadius) / 100000;
          this.alpha = random(2, 10) / 10;

          count++;
          stars[count] = this;
        }

        Star.prototype.draw = function() {
          var x = Math.sin(this.timePassed + 1) * this.orbitRadius + this.orbitX,
              y = Math.cos(this.timePassed) * this.orbitRadius/2 + this.orbitY,
              twinkle = random(10);

          if (twinkle === 1 && this.alpha > 0) {
            this.alpha -= 0.05;
          } else if (twinkle === 2 && this.alpha < 1) {
            this.alpha += 0.05;
          }

          ctx.globalAlpha = this.alpha;
            ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
          this.timePassed += this.speed;
        }

        for (var i = 0; i < maxStars; i++) {
          new Star();
        }

        function animation() {
            ctx.globalCompositeOperation = 'source-over';
            ctx.globalAlpha = 0.8;
            ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 1)';
            ctx.fillRect(0, 0, w, h)
          
          ctx.globalCompositeOperation = 'lighter';
          for (var i = 1, l = stars.length; i < l; i++) {
            stars[i].draw();
          };  
          
          window.requestAnimationFrame(animation);
        }

        animation();
    </script>



        
        </body>
</html>