
<div class="layui-side layui-bg-black" id="admin-side" style="margin-top:65px;">
    <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
        <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo">
            <li class="layui-nav-item"><a href="{:url('syc/sysindex')}"><i class="layui-icon layui-icon-home"></i>首页</a></li>

            <li class="layui-nav-item layui-nav-itemed">
                <a href="{:url('syc/myorder')}"><i class="layui-icon layui-icon-template-1"></i>我的订单</a>
            </li>
            <li class="layui-nav-item"><a href="{:url('syc/management')}"><i class="layui-icon 
                layui-icon-user"></i>人员管理</a></li>
            <li class="layui-nav-item"><a href="{:url('syc/customser')}"><i class="layui-icon layui-icon-component"></i>客户管理</a></li>
            <li class="layui-nav-item"><a href="{:url('syc/department')}"><i class="layui-icon layui-icon-chat"></i>部门管理</a></li>
            <li class="layui-nav-item"><a href="{:url('syc/product')}"><i class="layui-icon layui-icon-cellphone"></i>产品管理</a></li>
            <li class="layui-nav-item"><a href="{:url('syc/privilege')}"><i class="layui-icon layui-icon-set"></i>功能权限</a></li>
        </ul>
    </div>
</div>



<script>
    //tabs class
    $(document).ready(function(){
        $('.layui-nav-tree a').each(function(){
            if($($(this))[0].href==String(window.location))
            $(this).parent().addClass('layui-this');
        })
    })
  
</script>
