
<div class="layui-side layui-bg-black" id="admin-side" style="margin-top:65px;">
    <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
        <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo">
            {volist name='menu' id='vo'}
                <li class="layui-nav-item"><a href="{:url($vo.url)}"><i class="{$vo.class}"></i>{$vo.name}</a></li>
            {/volist}
            
        </ul>
        <div class="leftNavCloseBtn">隐藏菜单</div>
    </div>
</div>



<script>
    //tabs class
    $(document).ready(function(){
        $('.layui-nav-tree a').each(function(){
            if($($(this))[0].href==String(window.location))
            $(this).parent().addClass('layui-this');
        })
    })
</script>
