<ul class="tui-menu-container garr-menu" id="garr-menu">
    <li class="tui-menu-item">
        <a href="{:url('syc/sysindex')}" class="no-icon">
            <div class="private-letter-menu">
                <i class="iconfont icon-shouye"></i>
                首页
            </div>
        </a>
    </li>
    <li class="tui-menu-item">
        <a href="{:url('syc/myorder')}" class="no-icon">
            <div class="private-letter-menu">
                <i class="iconfont icon-dingdan"></i>
                我的订单
            </div>
        </a>
    </li>
    <li class="tui-menu-item">
        <a href="{:url('syc/sysindex')}" class="no-icon">
            <div class="private-letter-menu">
                <i class="iconfont icon-quanxianguanli"></i>
                功能权限
            </div>
        </a>
    </li>
    <li class="tui-menu-item ">
        <a href="{:url('syc/management')}" class="no-icon">
            <div class="private-letter-menu">
                <i class="iconfont icon-kehuzhongxin"></i>
                人员管理
            </div>
        </a>
    </li>
    <li class="tui-menu-item ">
        <a href="{:url('syc/customser')}" class="no-icon">
            <div class="private-letter-menu">
                <i class="iconfont icon-guanli"></i>
                客户管理
            </div>
        </a>
    </li>
    <li class="tui-menu-item">
        <a href="{:url('syc/sysindex')}" class="no-icon">
            <div class="private-letter-menu">
                <i class="iconfont icon-weibiaoti35"></i>
                产品管理
            </div>
        </a>
    </li>
</ul>
<script src="__JS__jquery-1.11.2.min.js"></script>
<script>
    //tabs class
    $(document).ready(function(){
        $('.tui-menu-container .tui-menu-item a').each(function(){
            if($($(this))[0].href==String(window.location))
            $(this).parent().addClass('tui-menu-item-active');
        })
    })
  
</script>