<!-- contnet -->
<div class="garr-panel">
    {include file="index/navleft"}
    <!-- 右侧内容 -->

    <div class="garr-container">
        <div class="pgc-home">
            <div class="pgc-dashboard-new">
                <div class="pgc-dashboard-column">
                    <a href="" class="pgc-dashboard-wrapper">
                        <span class="pgc-dashboard-primary">1341</span>
                    </a>
                    <div class="pgc-dashboard-secondary">
                        <div>
                            接单数量
                        </div>
                    </div>
                </div>
                <div class="pgc-dashboard-column">
                    <a href="" class="pgc-dashboard-wrapper">
                        <span class="pgc-dashboard-primary">131</span>
                    </a>
                    <div class="pgc-dashboard-secondary">
                        <div>
                            已完成数量
                        </div>
                    </div>
                </div>
                <div class="pgc-dashboard-column">
                    <a href="" class="pgc-dashboard-wrapper">
                        <span class="pgc-dashboard-primary">11</span>
                    </a>
                    <div class="pgc-dashboard-secondary">
                        <div>
                            未完成数量
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-title">
                <ul class="pgc-title">
                    <li class="pgc-title-tab selected pgc-title-tab">
                        <a href="login.html" class="title-menu">一周数据</a>
                    </li>
                </ul>
                <div class="home-content">
                    <div class="indexEchartsList" id="indexEchartsList">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="__JS__echarts.min.js"></script>
		<script type="text/javascript">
			var myChart = echarts.init(document.getElementById('indexEchartsList'));
			option = {
			    title: {
			        text: '一周接单数据变化'
			    },
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['建筑部','物流部','瓦工部','设计部','搬运部']
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: ['周一','周二','周三','周四','周五','周六','周日']
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [
			        {
			            name:'建筑部',
			            type:'line',
			            stack: '总量',
			            data:[120, 132, 101, 134, 90, 230, 210]
			        },
			        {
			            name:'物流部',
			            type:'line',
			            stack: '总量',
			            data:[220, 182, 191, 234, 290, 330, 310]
			        },
			        {
			            name:'瓦工部',
			            type:'line',
			            stack: '总量',
			            data:[150, 232, 201, 154, 190, 330, 410]
			        },
			        {
			            name:'设计部',
			            type:'line',
			            stack: '总量',
			            data:[320, 332, 301, 334, 390, 330, 320]
			        },
			        {
			            name:'搬运部',
			            type:'line',
			            stack: '总量',
			            data:[820, 932, 901, 934, 1290, 1330, 1320]
			        }
			    ]
			};
			// 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
		</script>
