<!-- contnet -->
<div class="garr-panel">
    {include file="index/navleft"}
    <!-- 右侧内容 -->
    <div class="garr-container">
        <div class="pgc-private-letter-wrap garr-container-white">
            <div class="title-tab-status-wrap clearfix">
                <ul class="">
                    <li class="category-item selected selected-line">客户管理</li>
                    
                </ul>
                <div class="addAll_btn addAll_btn1">添加客户<i class="iconfont icon-msnui-add-line"></i></div>
            </div>
            <div class="tui-table-container" style="margin-top:25px;">
                <table>
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>公司名称</th>
                            <th>电话</th>
                            <th>所属人员</th>
                            <th>添加时间</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name='list' id='vo'}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.company}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.addtime}</td>
                                <td><i class="iconfont icon-delete" onclick="delCustomser({$vo.id})"></i></td>
                            </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>	

        </div>
    </div>
</div>



<!-- 添加客户 -->
<div class="popOutWrap popOutWrap2" style="display:none;">

<div class="popOut">
    <!-- 关闭按钮 -->
    <i class="iconfont icon-guanbi"></i>
    <div class="title">添加客户</div>
        <div class="formList clearfix">             
            <div class="lineOne clearfix">
                <div class="name fl">客户姓名：</div>
                <input class="fl" id="custname" type="text" placeholder="请输入客户信息" />
            </div>
            <div class="lineOne clearfix">
                <div class="name fl">所在公司：</div>
                <input class="fl" id="custcompany" type="text" placeholder="请输入所在公司" />
            </div>
            <div class="lineOne clearfix">
                <div class="name fl">电话：</div>
                <input class="fl" id="custphone" type="text" placeholder="请输入客户电话" />
            </div>
        </div>
    <button id='addCustomer' class="submitBtn" style="margin:20px auto 0 auto;">提交</button>
</div>
</div>

<script>
    $('.popOutWrap .iconfont.icon-guanbi').click(function(){

    $('.popOutWrap2').hide();
    })

    $('.addAll_btn1').click(function(){
    $('.popOutWrap2').show();
    })

    /**
     * [添加客户]
     * @param  {String} 
     * @return {[type]}    [description]
     */
    $("#addCustomer").on('click', '', function(event) {
        var url="{:url('data/addCustomser')}";
        var custname=$("#custname").val();
        var custcompany=$("#custcompany").val();
        var custphone=$("#custphone").val();
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {custname:custname,custcompany:custcompany,custphone:custphone}
        })
        .done(function(data) {
            if(data&&data.code==200){
                alert(data.msg);
                window.location.reload();
            }else{
                alert(data.msg);
            }
        });
        
    });

    /**
     * [delCustomser 删除客户]
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */
    function delCustomser(id) {
        var c=confirm("您确认要删除吗？");
        if(!c)return;
        var url="{:url('data/delCustomser')}";
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {id: id}
        })
        .done(function(data) {
            if(data&&data.code==200){
                alert(data.msg);
                window.location.reload();
            }else{
                alert(data.msg);
            }
        });
    }
   
</script>