   {include file="index/navleft"}
    <div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            
            <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>客户管理</legend>
                </fieldset>
                <div  class="layui-inline">
                <form  method="POST" action="{:url('syc/customser')}">
                    <div class="layui-inline">
                        <input type="text" name="searchname" value="{:input('param.searchname')}" required="" lay-verify="required" placeholder="输入客户名或销售名" autocomplete="on" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <input class="layui-btn" type="submit" value="查询">
                    </div>     
                </form>
                </div>
                <div class="layui-inline">
                        <button data-method="notice" class="layui-btn " id="addItem">
                            <i class="layui-icon">&#xe608;</i> 添加
                        </button>
                </div>

                <table class="layui-table" lay-skin="line">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>公司名称</th>
                                <th>电话</th>
                                <th>所属人员</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                            {volist name='list' id='vo'}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.company}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.addtime}</td>
                                <td>
                                        <!-- 修改btn -->
                                        <button class="layui-btn layui-btn-sm"  title="修改">
                                        <i class="layui-icon">&#xe642;</i>
                                        </button>
                                        <!-- 删除btn -->
                                        <button class="layui-btn layui-btn-sm" onclick="delCustomser({$vo.id})" title="删除">
                                        <i class="layui-icon">&#xe640;</i>
                                        </button>
                                        
                                </td>
                            </tr>
                            
                            {/volist}
                        </tbody>
                    </table>
                    {$list->render()}
                </div>      
            </div>
        </div>
</div>






<script>
  
   

    /**
     * [delCustomser 删除客户]
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */


    function delCustomser(id) {
        var c = layui.use('layer',function(){
            layer.confirm('您确认要删除吗？', {
            btn: ['确认','取消'] //按钮
            }, function(){
                var url = "{:url('data/commonDel')}";
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: { id: id ,tablename:'customer'}
                    })
                    .done(function (data) {
                        if (data && data.code == 200) {
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(data.msg);
                            }); 
                            setTimeout(function () { window.location.reload(); }, 1000);  
                            
                        } else {
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(data.msg);
                            });
                        }
                    });
            });
        })

     
        
    }

 /**
     * [添加客户]
     * @param  {String} 
     * @return {[type]}    [description]
     */
    // 添加弹出层
    layui.use('layer',function(){
        function addcus(){
 
      //示范一个公告层
      layer.open({
        type: 1
        ,title: false //不显示标题栏
        ,closeBtn: false
        ,area: '300px;'
        ,shade: 0.8
        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
        ,btn: ['确定', '取消']
        ,btnAlign: 'c'
        ,moveType: 1 //拖拽模式，0或者1
        ,content: '<div style="padding:20px 25px 10px 5px;">\
                        <div class="layui-form-item">\
                            <label class="layui-form-label">客户姓名：</label>\
                            <div class="layui-input-block">\
                            <input id="custname" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入客户信息" class="layui-input">\
                            </div>\
                        </div>\
                        <div class="layui-form-item">\
                            <label class="layui-form-label">所在公司：</label>\
                            <div class="layui-input-block">\
                            <input id="custcompany" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入所在公司" class="layui-input">\
                            </div>\
                        </div>\
                        <div class="layui-form-item">\
                            <label class="layui-form-label">电话：</label>\
                            <div class="layui-input-block">\
                            <input  id="custphone" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入客户电话" class="layui-input">\
                            </div>\
                        </div>\
                    </div>'
        ,success: function(layero){
          var btn = layero.find('.layui-layer-btn');
          btn.find('.layui-layer-btn0').click(function(){
            var url = "{:url('data/addCustomser')}";
            var custname = $("#custname").val();
            var custcompany = $("#custcompany").val();
            var custphone = $("#custphone").val();
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: { custname: custname, custcompany: custcompany, custphone: custphone }
            })
            .done(function (data) {
                if (data && data.code == 200) {
                    layui.use('layer', function(){
                     
                        layer.msg(data.msg);
                    });
                    setTimeout(function () { window.location.reload(); }, 1000);  
                    //window.location.reload();
                }else {
                    layui.use('layer', function(){
                   
                        layer.msg(data.msg);
                    });
                }
            });

          });
        }
      });
    }

        $('#addItem').click(function(){
            addcus();
        })
    })

    

</script>