{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
		<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
			
			<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
				<div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>部门管理</legend>
                        </fieldset>
                        
                        
                            <button class="layui-btn " id="adddepaetmnet">
                                <i class="layui-icon">&#xe608;</i> 添加部门
                             </button>
                             <!-- 表格 -->
                             <table class="layui-table" lay-skin="line">
                    
                                    <thead>
                                        <tr>
                                            <th>部门名称</th>
                                            <th>简介</th>
                                            <th>发布时间</th>
                                            <th>编辑</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                         {volist name='list' id='vo'}
                                            <tr>
                                                <td>{$vo.departname}</td>
                                                <td>{$vo.intro}</td>
                                                <td>{$vo.addtime}</td>
                                                <td>
                                                    <!-- 修改btn -->
                                                    <button class="layui-btn layui-btn-sm changedepartment"  title="修改">
                                                    <i class="layui-icon">&#xe642;</i>
                                                    </button>
                                                    <!-- 删除btn -->
                                                    <button class="layui-btn layui-btn-sm" onclick="delDepart({$vo.id})"  title="删除">
                                                    <i class="layui-icon">&#xe640;</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {/volist}
                                        {if condition="count($list) elt 0"}
                                            <tr>
                                                <td colspan="4" style="text-align: center">没有您要查询的数据</td>
                                            </tr>
                                        {/if}
                                    </tbody>
                                    </table>
                                    {$list->render()}

                </div>
            </div>
        </div>
</div>

<div id="adddepaetmnetBox" style="display: none;">
        <div style="padding:20px 25px 10px 5px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">部门名称：</label>
                    <div class="layui-input-block">
                    <input id="goodsname" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入部门名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">简介：</label>
                    <div class="layui-input-block">
                    <input id="goodsattribute" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入产品属性" class="layui-input">
                    </div>
                </div>
                
            </div>
        </div>

<script type="text/javascript" charset="utf-8">

    /**
     * [delCustomser 删除客户]
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */
    function delDepart(id) {
        var c = layui.use('layer',function(){
            layer.confirm('您确认要删除吗？', {
            btn: ['确认','取消'] //按钮
            }, function(){
                var url = "{:url('data/commonDel')}";
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: { id: id ,tablename:'department'}
                    })
                    .done(function (data) {
                        if (data && data.code == 200) {
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(data.msg);
                            }); 
                            setTimeout(function () { window.location.reload(); }, 1000);  
                            
                        } else {
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(data.msg);
                            });
                        }
                    });
            });
        })

     
        
    }
</script>
</div>
<div id="changedepartmentbox" style="display: none;">
        <div style="padding:20px 25px 10px 5px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">部门名称：</label>
                    <div class="layui-input-block">
                    <input id="goodsname" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入部门名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">简介：</label>
                    <div class="layui-input-block">
                    <input id="goodsattribute" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入部门简介" class="layui-input">
                    </div>
                </div>
              
</div>


<script>
   //添加
   layui.use('layer',function(){
       //添加部门
    $('#adddepaetmnet').click(function(){
           layer.open({
               type: 1
               ,title: false
               ,closeBtn: false
               ,area: '300px'
               ,shade: 0.8
               ,btnAlign: 'c'
               ,id: 'LAY_layuipro2' //设定一个id，防止重复弹出
               ,btn: ['确定', '取消']
               ,content: $('#adddepaetmnetBox')
               ,success: function(layero){
               var btn = layero.find('.layui-layer-btn');
               btn.find('.layui-layer-btn0').click(function(){
                   //点击确定按钮后的时间

               });
               }
             });

            }) 

        //修改部门
        $('.changedepartment').click(function(){
           layer.open({
               type: 1
               ,title: false
               ,closeBtn: false
               ,area: '300px'
               ,shade: 0.8
               ,btnAlign: 'c'
               ,id: 'LAY_layuipro2' //设定一个id，防止重复弹出
               ,btn: ['确定', '取消']
               ,content: $('#changedepartmentbox')
               ,success: function(layero){
               var btn = layero.find('.layui-layer-btn');
               btn.find('.layui-layer-btn0').click(function(){
                   //点击确定按钮后的时间

               });
               }
             });

            }) 
   })  
</script>		
