{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">

        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>人员管理</legend>
                </fieldset>
                <form class="layui-form" method="POST" action="{:url('syc/management')}">
                    <div class="layui-inline">
                        <input type="text" name="searchname" value="{:input('param.searchname')}" lay-verify="required" placeholder="输入姓名或者手机号" autocomplete="on" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <select name='depart' lay-filter="aihao">
                            <option value="0">请选择部门</option>
                            {volist name='depart' id="vo"}
                            <option value="{$vo.id}" {if condition="$vo.id eq $departid" }selected='selected' {/if}>{$vo.departname}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input class="layui-btn" type="submit" value="查询">
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" id="addpersonBtn">添加人员</button>
                    </div>




                </form>
                <table class="layui-table" lay-skin="line">

                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>所属部门</th>
                            <th>职位</th>
                            <th>电话</th>
                            <th>客户转让</th>
                            <th>重置密码</th>
                            <th>操作</th>

                        </tr>
                    </thead>
                    <tbody>
                        {volist name='list' id='vo'}
                        <tr>
                            <td>{$vo.username}</td>
                            <td>{$vo.departname}</td>
                            <td>{$vo.jobname}</td>
                            <td>{$vo.phone}</td>
                            <td>
                                <span class="Transfer" data-uid={$vo.id} style="color:#FF9800;cursor: pointer;">点击转让</span>
                            </td>
                            <td>
                                <button class="layui-btn layui-btn-sm repasswordF" data-uid={$vo.id}>
                                    <i class="layui-icon">&#xe642;</i>
                                </button>
                            </td>
                            <td>
                                <button class="layui-btn layui-btn-sm changeCusBox" data-uid="{$vo.id}" title="修改">
                                        <i class="layui-icon">&#xe642;</i>
                                        </button> {neq name="$vo.id" value="1"}
                                <button class="layui-btn layui-btn-sm" onclick="delUser({$vo.id})" title="删除">
                                    <i class="layui-icon">&#xe640;</i>
                                </button> {/neq}
                            </td>
                        </tr>
                        {/volist} {if condition="count($list) elt 0"}
                        <tr>
                            <td colspan="7" style="text-align: center">没有您要查询的数据</td>
                        </tr>
                        {/if}
                    </tbody>
                </table>
                {$list->render()}




            </div>
        </div>
    </div>
</div>


<!-- 添加 -->
<div id="addperson" style="display: none;">
    <div style="padding:20px 25px 10px 5px;">
        <form action="" id="addForm">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-block">
                    <input id="username" type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-block">
                    <input id="phone" type="text" name="phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择部门：</label>
                <div class="layui-input-block">
                    <select id="departid" name="departid" lay-filter="aihao" style="display: block; width: 100%; height: 36px;border-color: #e6e6e6;">
                       <option value="0">请选择部门</option>
                            {volist name='depart' id="vo"}
                            <option value="{$vo.id}">{$vo.departname}</option>
                            {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择职位：</label>
                <div class="layui-input-block">
                    <select id="jobid" name="jobid" lay-filter="aihao" style="display: block; width: 100%; height: 36px;border-color: #e6e6e6;">
                        <option value="0">请选择职位</option>
                        {volist name='job' id="vo"}
                            <option value="{$vo.id}">{$vo.jobname}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">输入密码：</label>
                <div class="layui-input-block">
                    <input id="password" type="password" name="password" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复密码：</label>
                <div class="layui-input-block">
                    <input id="repassword" type="password" name="repassword" lay-verify="title" autocomplete="off" placeholder="请重复密码" class="layui-input">
                </div>

            </div>
        </form>
    </div>
</div>

<!-- 修改 -->
<div id="updateperson" style="display: none;">
    <div style="padding:20px 25px 10px 5px;">
        <form action="" id="updateForm">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-block">
                    <input id="uusername" type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-block">
                    <input id="uphone" type="text" name="phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择部门：</label>
                <div class="layui-input-block">
                    <select id="udepartid" name="departid" lay-filter="aihao" style="display: block; width: 100%; height: 36px;border-color: #e6e6e6;">
                        <option value="0">请选择部门</option>
                            {volist name='depart' id="vo"}
                            <option value="{$vo.id}">{$vo.departname}</option>
                            {/volist}

                    </select>

                </div>

            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">选择职位：</label>

                <div class="layui-input-block">

                    <select id="ujobid" name="jobid" lay-filter="aihao" style="display: block; width: 100%; height: 36px;border-color: #e6e6e6;">

                        <option value="0">请选择职位</option>

                        {volist name='job' id="vo"}

                            <option value="{$vo.id}">{$vo.jobname}</option>

                        {/volist}

                    </select>

                </div>

            </div>

        </form>

    </div>

</div>









<script>
    function delUser(id) {
        var c = layui.use('layer', function() {
            layer.confirm('您确认要删除吗？', {
                btn: ['确认', '取消'] //按钮
            }, function() {
                var url = "{:url('data/commonDel')}";
                $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: id,
                            tablename: 'user'
                        }
                    })
                    .done(function(data) {
                        if (data && data.code == 200) {
                            layui.use('layer', function() {
                                var layer = layui.layer;
                                layer.msg(data.msg);
                            });
                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);

                        } else {
                            layui.use('layer', function() {
                                var layer = layui.layer;
                                layer.msg(data.msg);
                            });
                        }
                    });
            });
        })
    }


    //选择框
    layui.use('form', function() {})
        //转让客户
    layui.use('layer', function() {

        //添加人员
        $('#addpersonBtn').click(function() {
            layer.open({
                type: 1,
                title: false //不显示标题栏
                    ,
                closeBtn: false,
                area: '300px;',
                shade: 0.8,
                id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,
                btn: ['确定', '取消'],
                btnAlign: 'c',
                moveType: 1 //拖拽模式，0或者1
                    ,
                content: $('#addperson'),
                success: function(layero) {
                    var btn = layero.find('.layui-layer-btn');
                    btn.find('.layui-layer-btn0').click(function() {
                        var url = "{:url('data/addUser')}";
                        var data = $("#addForm").serialize();
                        var username = $("#username").val();
                        if (username == "" || username == null) {
                            layer.msg('名子不能为空！');
                            return false;
                        }
                        var regEXP = /^[A-Za-z0-9\u4e00-\u9fa5]{2,6}$/g;
                        if (!regEXP.test(username)) {
                            layer.msg('名字格式不对！');
                            return false;
                        }
                        var phone = $("#phone").val();
                        if (phone == "" || phone == null) {
                            layer.msg('电话不能为空！');
                            return false;
                        }
                        var regEXP = /^[0-9]{8,11}$/g;
                        if (!regEXP.test(phone)) {
                            layer.msg('电话格式不正确！');
                            return false;
                        }
                        var departid = $("#departid").val();
                        if (departid == 0) {
                            layer.msg('请选择部门！');
                            return false;
                        }
                        var jobid = $("#jobid").val();
                        if (jobid == 0) {
                            layer.msg('请选职位！');
                            return false;
                        }
                        var password = $("#password").val();
                        if (password == "" || password == null) {
                            layer.msg('密码不能为空！');
                            return false;
                        }
                        var regEXP1 = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,10}$/g;
                        if (!regEXP1.test(password)) {
                            layer.msg('密码由6-10数字和字母混合组成');
                            return false;
                        }
                        var repassword = $("#repassword").val();
                        if (password != repassword) {
                            layer.msg("两次输入密码不一致");
                            return;
                        }
                        $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                data: data
                            })
                            .done(function(data) {
                                if (data && data.code == 200) {
                                    layui.use('layer', function() {
                                        layer.msg(data.msg);
                                    });
                                    setTimeout(function() {
                                        window.location.reload();
                                    }, 1000);
                                } else if (data && data.code == 100) {
                                    layui.use('layer', function() {
                                        layer.msg(data.msg);
                                    });
                                } else {
                                    layui.use('layer', function() {
                                        layer.msg(data.msg);
                                    });
                                }
                            });
                    });
                }
            })

        })


        //修改信息
        $('.changeCusBox').click(function() {
            var uid = $(this).attr('data-uid');
            //示范一个公告层
            layer.open({
                type: 1,
                title: false, //不显示标题栏,
                closeBtn: false,
                area: '300px;',
                shade: 0.8,
                id: 'LAY_layuipro45', //设定一个id，防止重复弹出,
                btn: ['确定', '取消'],
                btnAlign: 'c',
                moveType: 1, //拖拽模式，0或者1
                content: $('#updateperson'),
                success: function(layero) {
                    var geturl = "{:url('data/getData')}";

                    $.ajax({
                            url: geturl,
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id: uid,
                                tablename: 'user'
                            },
                        })
                        .done(function(data) {
                            if (data && data.code == 200) {
                                $("#uusername").val(data.data['username']);
                                $("#uphone").val(data.data['phone']);
                                $("#udepartid").val(data.data['departid']);
                                $("#ujobid").val(data.data['jobid']);

                            }
                        });

                    var btn = layero.find('.layui-layer-btn');
                    btn.find('.layui-layer-btn0').click(function() {
                        var url = "{:url('data/addUser')}";
                        var username = $("#uusername").val();
                        if (username == "" || username == null) {
                            layer.msg('名子不能为空！');
                            return false;
                        }
                        var regEXP = /^[A-Za-z0-9\u4e00-\u9fa5]{2,6}$/g;
                        if (!regEXP.test(username)) {
                            layer.msg('名字格式不对！');
                            return false;
                        }
                        var phone = $("#uphone").val();
                        if (phone == "" || phone == null) {
                            layer.msg('电话不能为空！');
                            return false;
                        }
                        var regEXP = /^[0-9]{8,11}$/g;
                        if (!regEXP.test(phone)) {
                            layer.msg('电话格式不正确！');
                            return false;
                        }
                        var departid = $("#udepartid").val();
                        if (departid == 0) {
                            layer.msg('请选职位！');
                            return false;
                        }
                        var jobid = $("#ujobid").val();
                        if (jobid == 0) {
                            layer.msg('请选职位！');
                            return false;
                        }
                        $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    id: uid,
                                    username: username,
                                    phone: phone,
                                    departid: departid,
                                    jobid: jobid
                                }
                            })
                            .done(function(data) {
                                if (data && data.code == 200) {

                                    layer.msg(data.msg);

                                    setTimeout(function() {
                                        window.location.reload();
                                    }, 1000);
                                } else {

                                    layer.msg(data.msg);

                                }
                            });
                    });

                }
            });
        })



        $('.layui-table td span.Transfer').click(function() {
            var olduid = $(this).attr('data-uid');
            // Transfer(uid);
            //示范一个公告层
            layer.open({
                type: 1,
                title: false //不显示标题栏
                    ,
                closeBtn: false,
                area: '300px;',
                shade: 0.8,
                id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,
                btn: ['确定', '取消'],
                btnAlign: 'c',
                moveType: 1 //拖拽模式，0或者1
                    ,
                content: '<div style="padding:20px 25px 10px 5px;">\
                        <div class="layui-form-item">\
                            <label class="layui-form-label">转让人：</label>\
                            <div class="layui-input-block">\
                            <input id="custname" type="text" data-uid="" name="title" lay-verify="title" autocomplete="off" placeholder="请输入转让人名称" class="layui-input">\
                            </div>\
                        </div>\
                    </div>',
                success: function(layero) {
                    var btn = layero.find('.layui-layer-btn');
                    btn.find('.layui-layer-btn0').click(function() {
                        //点击确定按钮后的事件
                        var url = "{:url('data/transferCustomer')}";
                        var custname = $("#custname").val();
                        var uid = olduid;
                        $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    username: custname,
                                    uid: uid
                                }
                            })
                            .done(function(data) {
                                if (data && data.code == 200) {
                                    layui.use('layer', function() {
                                        layer.msg(data.msg);
                                    });
                                    setTimeout(function() {
                                        window.location.reload();
                                    }, 1000);
                                } else if (data && data.code == 100) {
                                    layui.use('layer', function() {
                                        layer.msg(data.msg);
                                    });
                                } else {
                                    layui.use('layer', function() {
                                        layer.msg(data.msg);
                                    });
                                }
                            });
                    });
                }
            });

        })
    })

    //重置密码

    $('.repasswordF').on('click', function() {
        var uuid = $(this).attr('data-uid');
        var curuid = "{:session('userinfo.uid')}";
        if ((uuid == 1) && (curuid != 1)) {
            layui.use('layer', function() {
                layer.msg("只有系统管理员可以修改此密码");
            });
            return;
        }

        layui.use('layer', function() {
            function repasswordF() {

                //示范一个公告层
                layer.open({
                    type: 1,
                    title: false //不显示标题栏
                        ,
                    closeBtn: false,
                    area: '300px;',
                    shade: 0.8,
                    id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,
                    btn: ['确定', '取消'],
                    btnAlign: 'c',
                    moveType: 1 //拖拽模式，0或者1
                        ,
                    content: '<div style="padding:20px 25px 10px 5px;">\
                        <div class="layui-form-item">\
                                <label class="layui-form-label">新密码：</label>\
                                <div class="layui-input-block">\
                                <input id="upassword" type="password" name="upassword" lay-verify="title" autocomplete="off" placeholder="请输入新密码" class="layui-input">\
                                </div>\
                            </div>\
                            <div class="layui-form-item">\
                                <label class="layui-form-label">重复密码：</label>\
                                <div class="layui-input-block">\
                                <input id="reupassword" type="password" name="reupassword" lay-verify="title" autocomplete="off" placeholder="请重复密码" class="layui-input">\
                                </div>\
                            </div>\
                        </div>',
                    success: function(layero) {
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').click(function() {
                            //点击确定按钮后的事件
                            var url = "{:url('data/resetPassword')}";
                            var upassword = $("#upassword").val();
                            var regEXP1 = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,10}$/g;
                            if (!regEXP1.test(upassword)) {
                                layer.msg('密码由6-10数字和字母混合组成');
                                return false;
                            }
                            var reupassword = $("#reupassword").val();
                            if (upassword != reupassword) {
                                layui.use('layer', function() {
                                    layer.msg("两次输入密码不一致");
                                });
                                return;
                            }
                            var uid = uuid;
                            $.ajax({
                                    url: url,
                                    type: 'post',
                                    dataType: 'json',
                                    data: {
                                        password: upassword,
                                        uid: uid
                                    }
                                })
                                .done(function(data) {
                                    if (data && data.code == 200) {
                                        layui.use('layer', function() {
                                            layer.msg(data.msg);
                                        });
                                        // setTimeout(function () { window.location.reload(); }, 1000);  
                                    } else {
                                        layui.use('layer', function() {
                                            layer.msg(data.msg);
                                        });
                                    }
                                });
                        });
                    }
                });

            }
            repasswordF()

        })

    })
</script>