{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
		<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
			
			<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
				<div class="layui-tab-item layui-show">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">订单详细</li>
                            <li>订单图片</li>
                            
                        </ul>
                        <div class="layui-tab-content" style="height: 100px;">
                            <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote">
                                        <p>地址：史蒂夫纳斯达克粉丝大部分史蒂夫说的可能</p>
                                        <p>下单时间：2018/04/08/10“43</p>
                                    </blockquote>
                            </div>
                            <div class="layui-tab-item">内容2</div>
                            
                        </div>
                        </div> 
                            
                
                                   

                </div>
            </div>
        </div>
</div>