<!-- contnet -->
<div class="garr-panel">
{include file="index/navleft"}
<!-- 右侧内容 -->
<div class="garr-container">
        <div class="pgc-private-letter-wrap garr-container-white">
            <div class="title-tab-status-wrap">
                <ul>
                    <li class="category-item selected selected-line">我的订单</li>
                </ul>
            </div>
            <div class="tui-tab-panel income-panel">
                <div class="row clearfix">
                    <div class="tui-rangepicker clearfix fl">
                        <input type="text" class="tui-btn fl" placeholder="请输入订单名称">
                        <input type="text" class="tui-btn fl" id="selTime" placeholder="请输入选择时间">
                        <input type="submit" style="width:60px;padding-left: 0; cursor: pointer;" class="tui-btn active fl" value="查询">
                        <input type="submit" style="width:60px;padding-left: 0; cursor: pointer;" class="tui-btn tui-btn1 active fl" value="添加">
                    </div>
                    <ul class="allPriceWrap fr clearfix">
                        <li class="item fl">订单总金额：<span style="color:red;">1000</span>元</li>
                        <li class="item fl">订单纯利润：<span style="color:red;">1000</span>元</li>
                    </ul>
                </div>
            </div>				
            
            <div class="tui-table-container" style="margin-top:25px;">
                <table>
                    <thead>
                        <tr>
                            <th>订单名称</th>
                            <th>状态</th>
                            <th>成本（元）</th>
                            <th>总价（元）</th>
                            <th>发布时间</th>
                            <th>查看</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>苏州拟剥离呀公司</td>
                            <td><span style="color:rgb(117, 231, 23);">进行中</span></td>
                            <td>200</td>
                            <td>400</td>
                            <td>2018-04-11</td>
                            <td><a href="{:url('syc/myorderdetail')}">详细</a></td>
                        </tr>
                      
                        
                    </tbody>
                </table>
            </div>	

        </div>
    </div>
</div>



		<!-- 添加订单 -->
        <div class="popOutWrap popOutWrap2" style="display:none;">
	
            <div class="popOut">
                <!-- 关闭按钮 -->
                <i class="iconfont icon-guanbi"></i>
                <div class="title">添加订单</div>
                <div class="formList clearfix">				
                    <div class="lineOne clearfix">
                        <div class="name fl">客户姓名：</div>
                        <input class="fl" type="text" placeholder="请输入客户信息" />
                    </div>
                    <div class="lineOne clearfix">
                        <div class="name fl">所在公司：</div>
                        <input class="fl" type="text" placeholder="请输入所在公司" />
                    </div>
                    <div class="lineOne clearfix">
                        <div class="name fl">电话：</div>
                        <input class="fl" type="text" placeholder="请输入客户电话" />
                    </div>
                    
                </div>
        
                <button class="submitBtn" style="margin:20px auto 0 auto;">提交</button>
            </div>
        </div>

<script type="text/javascript" src="__JS__laydate/laydate.js"></script>

<script type="text/javascript">
	//执行一个laydate实例
	laydate.render({
	  elem: '#selTime' //指定元素
	  ,type: 'datetime'
	});

	$('.popOutWrap .iconfont.icon-guanbi').click(function(){
		
		$('.popOutWrap2').hide();
	})

	$('.tui-btn1').click(function(){
		$('.popOutWrap2').show();
	})
</script>