<!-- contnet -->
<div class="garr-panel">
        {include file="index/navleft"}
        <!-- 右侧内容 -->
        <div class="garr-container">
                <div class="pgc-private-letter-wrap garr-container-white">
                    <div class="title-tab-status-wrap">
                        <ul>
                            <li class="category-item selected selected-line">部门管理</li>
                        </ul>
                    </div>
                    <div class="tui-tab-panel income-panel">
                        <div class="row clearfix">
                            <div class="tui-rangepicker clearfix fl">
                                
                                
                                <input type="submit" style="width:60px;padding-left: 0; cursor: pointer;" class="tui-btn tui-btn1 active fl" value="添加部门">
                            </div>
                            
                        </div>
                    </div>				
                    
                    <div class="tui-table-container" style="margin-top:25px;">
                        <table>
                            <thead>
                                <tr>
                                    <th>部门名称</th>
                                    
                                    <th>查看</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>我是一个部门</td>
                                    
                                    <td><a href="{:url('syc/myorderdetail')}">详细</a></td>
                                </tr>
                              
                                
                            </tbody>
                        </table>
                    </div>	
        
                </div>
            </div>
        </div>
        
        
        
        <script type="text/javascript">
            
        </script>