{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
		<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
			
			<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
				<div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>产品管理</legend>
                        </fieldset>
                        
                        
                          
                             <!-- 表格 -->
                             <table class="layui-table" lay-skin="line">
                    
                                    <thead>
                                        <tr>
                                            <th>部门名称</th>
                                            <th>发布时间</th>
                                            <th>产品详细</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>苏州拟剥离呀公司</td>
                                            <td>2018-04-11</td>
                                            <td>
                                              <a href="productdetail.html" class="layui-icon">
                                                    &#xe641;
                                                </a>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>苏州拟剥离呀公司</td>
                                            <td>2018-04-11</td>
                                            <td>
                                              <a href="productdetail.html" class="layui-icon">
                                                    &#xe641;
                                                </a>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>苏州拟剥离呀公司</td>
                                            <td>2018-04-11</td>
                                            <td>
                                              <a href="productdetail.html" class="layui-icon">
                                                    &#xe641;
                                                </a>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>苏州拟剥离呀公司</td>
                                            <td>2018-04-11</td>
                                            <td>
                                               <a href="productdetail.html" class="layui-icon">
                                                    &#xe641;
                                                </a> 
                                            </td>
                                           
                                        </tr>
                                       
                                    </tbody>
                                    </table>
                
                              

                </div>
            </div>
        </div>
</div>




