{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">产品详细</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        

                        <div class="layui-inline" >
                         
                            <button class="layui-btn" id="addorderDetail"><span  class="layui-icon layui-icon-add-1" style="font-size: 14px;"></span>添加</button>
                        </div>
                        

                        <table class="layui-table" lay-skin="line">
                            
                            <thead>
                              <tr>
                                <th>产品名称</th>
                                <th>产品属性</th>
                                <th>单位</th>
                                <th>价格（元）</th>
                                <th>操作</th>
                               
                              </tr> 
                            </thead>
                            <tbody>
                              <tr>
                                <td>贤阿斯顿发生</td>
                                <td>包</td>
                                <td>111</td>
                                <td>2355</td>
                                <td>
                                    <!-- 修改btn -->
                                        <button class="layui-btn layui-btn-sm"  title="修改">
                                        <i class="layui-icon">&#xe642;</i>
                                        </button>
                                    <!-- 删除btn -->
                                    <button class="layui-btn layui-btn-sm" title="删除">
                                    <i class="layui-icon">&#xe640;</i>
                                    </button>
                                </td>
                              </tr>
                              <tr>
                                <td>贤阿斯顿发生</td>
                                <td>包</td>
                                <td>111</td>
                                <td>2355</td>
                                <td>
                                    <!-- 修改btn -->
                                        <button class="layui-btn layui-btn-sm"  title="修改">
                                        <i class="layui-icon">&#xe642;</i>
                                        </button>
                                    <!-- 删除btn -->
                                    <button class="layui-btn layui-btn-sm" title="删除">
                                    <i class="layui-icon">&#xe640;</i>
                                    </button>
                                </td>
                              </tr>
                              <tr>
                                <td>贤阿斯顿发生</td>
                                <td>包</td>
                                <td>111</td>
                                <td>2355</td>
                                <td>
                                    <!-- 修改btn -->
                                        <button class="layui-btn layui-btn-sm"  title="修改">
                                        <i class="layui-icon">&#xe642;</i>
                                        </button>
                                    <!-- 删除btn -->
                                    <button class="layui-btn layui-btn-sm" title="删除">
                                    <i class="layui-icon">&#xe640;</i>
                                    </button>
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>
                    </div>
                  
                </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<div id="proudctAddBox" style="display: none;">
        <div style="padding:20px 25px 10px 5px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">产品名称：</label>
                    <div class="layui-input-block">
                    <input id="custname" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入产品名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位：</label>
                    <div class="layui-input-block">
                    <input id="custcompany" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入产品单价" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品数量：</label>
                    <div class="layui-input-block">
                    <input  id="custphone" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入产品数量" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品单价：</label>
                    <div class="layui-input-block">
                    <input  id="custphone" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入产品单价" class="layui-input">
                    </div>
                </div>
            </div>
</div>
<script>
    layui.use('upload', function(){
      var upload = layui.upload;
       
      //执行实例
      var uploadInst = upload.render({
        elem: '#uploadBtn' //绑定元素
        ,url: '/upload/' //上传接口
        ,done: function(res){
          //上传完毕回调
        }
        ,error: function(){
          //请求异常回调
        }
      });
    });



    //添加订单
    layui.use('layer',function(){
      
    $('#addorderDetail').click(function(){
      layer.open({
        type: 1
        ,title: false //不显示标题栏
        ,closeBtn: false
        ,area: '300px;'
        ,shade: 0.8
        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
        ,btn: ['确定', '取消']
        ,btnAlign: 'c'
        ,moveType: 1 //拖拽模式，0或者1
        ,content: $('#proudctAddBox')
        ,success: function(layero){
          var btn = layero.find('.layui-layer-btn');
          btn.find('.layui-layer-btn0').click(function(){
            //点击确定按钮后的时间

          });
        }
      });
    })
})
    </script>