{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
		<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
			
			<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
				<div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>产品管理</legend>
                        </fieldset> 
                        <!-- 表格 -->
                        <table class="layui-table" lay-skin="line">
            
                            <thead>
                                <tr>
                                    <th>部门名称</th>
                                    <th>简介</th>
                                    <th>发布时间</th>
                                    <th>产品详细</th>
                                </tr> 
                            </thead>
                            <tbody>
                                 {volist name='list' id='vo'}
                                    <tr>
                                        <td>{$vo.departname}</td>
                                        <td>{$vo.intro}</td>
                                        <td>{$vo.addtime}</td>
                                        <td>
                                            <a href="{:url('syc/productdetail',['departid'=>$vo['id']])}" class="layui-icon layui-btn layui-btn-sm">
                                                &#xe602;
                                            </a>                                            
                                        </td>
                                    </tr>
                                {/volist}
                                {if condition="count($list) elt 0"}
                                    <tr>
                                        <td colspan="4" style="text-align: center">没有您要查询的数据</td>
                                    </tr>
                                {/if}
                            </tbody>
                            </table>
                            {$list->render()}
                        </div>
                </div>
         </div>
</div>




