{include file="index/navleft"}
<div class="layui-body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
		<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
			
			<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
				<div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>产品管理</legend>
                        </fieldset> 
                        <!-- 表格 -->
                        <form action="" class="layui-form">
                            <table class="layui-table" lay-skin="line">
            
                                <thead>
                                    <tr>
                                        <th>菜单</th>
                                        <th>勾选</th>
                                        
                                    </tr> 
                                </thead>
                                    <tr>
                                        <td>我的订单</td>
                                        <td>           
                                        <div class="layui-input-block">
                                            <input type="checkbox" name="" title="选中">
                                            
                                        </div>                                        
                                        </td>
                                    </tr>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            </form>
                        </div>
                </div>
         </div>
</div>


<script type="text/javascript">

layui.use('form',function(){
    var form = layui.form;
    form.on('checkbox(filter)', function(data){
        console.log(data.elem); //得到checkbox原始DOM对象
        console.log(data.elem.checked); //是否被选中，true或者false
        console.log(data.value); //复选框value值，也可以通过data.elem.value得到
        console.log(data.othis); //得到美化后的DOM对象
        });  
})
    
</script>