<!-- contnet -->
{include file="index/navleft"}
<div class="layui-body main_body" style="top: 60px;border-left: solid 2px #1AA094; padding:10px 20px;" id="admin-body">
		<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
			
			<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
				<div class="layui-tab-item layui-show">
					<!-- <div class="layui-elem-quote">
						<p>订单数据展示</p>
					</div> -->
					<fieldset class="layui-elem-field layui-field-title">
						<legend>订单数据展示</legend>
					</fieldset>
					<div style="padding:20px; background-color:#f2f2f2;">
						<div class="layui-row layui-col-space15">
							<div class="layui-col-md6">
								<div class="layui-card">
									<div class="layui-card-header">订单数量</div>
									<div class="layui-card-body countupNum">
										{$ordercount}
									</div>
								</div>
							</div>
							<div class="layui-col-md6">
								<div class="layui-card">
									<div class="layui-card-header">已完成订单数量</div>
									<div class="layui-card-body countupNum">
										{$wcordercount}
									</div>
								</div>
							</div>
							<div class="layui-col-md12 wordLineMap">
									<div class="layui-card">
										<div class="layui-card-header">一周折线图</div>
										<div class="layui-card-body">
											<div class="indexEchartsList" id="indexEchartsList"></div>
										</div>
									</div>
								</div>
							
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__JS__echarts.min.js"></script>
<script>
	$('.countupNum').countUp();


				var myChart = echarts.init(document.getElementById('indexEchartsList'));
			option = {
			    title: {
			        text: ''
			    },
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:[{volist name="departlist" id="vo"}'{$vo.departname}'{if condition="$i lt count($departlist)"},{/if}{/volist}]
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: [{foreach $days  as $key=>$vo}'{$vo}'{if condition="$key lt count($days)"},{/if}{/foreach}]
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [
				    {volist name="departlist" id="vo"}
				     {
				     	name:'{$vo.departname}',
			            type:'line',
			            stack: '总量',
			            data:[{foreach $vo.count  as $key=>$voo}'{$voo}'{if condition="$key lt count($vo.count)"},{/if}{/foreach}]
				     }
				     {if condition="$i lt count($departlist)"},{/if}  
		   			 {/volist}
			    ]
			};
			
			
        myChart.setOption(option);
</script>


   


    
